<div class="normalheader transition animated fadeIn">
  <div class="hpanel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <h2 class="font-light m-b-xs">
            <%= (Object.keys(device).length) ? 'Edit' : 'Add' %> Device
          </h2>
          <div id="hbreadcrumb">
            <ol class="hbreadcrumb breadcrumb">
              <li><a href="<%= sails.config.base_url %>dashboard">Dashboard</a></li>
              <li><a href="<%= sails.config.base_url %>device">Device List</a></li>
              <li class="active">
                <%= (Object.keys(device).length) ? 'Edit' : 'Add' %> Device </span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="hpanel">
      <div class="panel-body">
        <% if(!(Object.keys(device).length)){ %>
        <form action="<%= sails.config.base_url %>device/create" method="post" id="add-device" class='form-horizontal' data-parsley-validate='true'>
          <% }else{ %>
          <form action="<%= sails.config.base_url %>device/edit/<%= req.params.id%>" method="post" id="edit-device" class='form-horizontal' data-parsley-validate='true'>
            <% }%>
        <% if (req.session.flash) { %>
        <%- req.flash('flashMessage') %>
        <% } %>
            <% console.log("User Model:- ", User);%>
          <div class="form-group <%= (errors.device_id != undefined) ? " has-error" : "" %>">
            <label for="first_name" class="col-md-4 control-label">Device Id*</label>
            <div class="col-md-6">
              <input type="text" name="device_id" class="form-control" id="device_id" value="<%= (device.device_id) ? (device.device_id) : (req.param('device_id')) ? req.param('device_id') : '' %>" required
                     pattern="<%= sails.config.regex.device_id %>"
                     data-parsley-required-message="<%= Device.message.device_id_required %>"
                     maxlength="<%= sails.config.length.device_id %>"
                     data-parsley-device_id-message="<%= Device.message.device_id_size %>"
                     pattern="<%= sails.config.regex.alpha_numeric %>"
                     data-parsley-pattern-message="<%= Device.message.device_id_pattern %>" placeholder="Device Id"/>
              <span class="help-block">
                <strong><%= (errors.device_id != undefined) ? errors.device_id.message : '' %>
                </strong>
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
              <button type="submit" class="btn btn-primary">
                <%= (Object.keys(device).length) ? 'Update' : 'Add' %> Device
              </button>
              <a class="btn btn-primary" href="<%= sails.config.base_url %>device">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
