<div class="normalheader transition animated fadeIn">
  <div class="hpanel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <h2 class="font-light m-b-xs">
            Change password
          </h2>
          <div id="hbreadcrumb">
            <ol class="hbreadcrumb breadcrumb">
              <li><a href="<%= sails.config.base_url %>dashboard">Dashboard</a></li>
              <li class="active">Change Password
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="hpanel">
      <div class="panel-body">
        <form action="<%= sails.config.base_url %>dashboard/changepassword" method="post" id="change-password" class='form-horizontal' data-parsley-validate='true'>
          <% if (req.session.flash) { %>
          <%- req.flash('flashMessage') %>
          <% } %>
          <div class="form-group <%= (errors.current_password != undefined) ? " has-error" : "" %>">
            <label for="last_name" class="col-md-4 control-label">Current Password*</label>
            <div class="col-md-6">
              <input type="password" name="current_password" class="form-control" id="current_password"
                     value=""
                     maxlength="<%= sails.config.length.max_password %>"
                     required
                     data-parsley-length="[<%= sails.config.length.min_password %>, <%= sails.config.length.max_password %>]"
                     data-parsley-required-message="<%= User.message.current_password_required %>"
                     data-parsley-length-message="<%= User.message.current_password_length %>"
                     placeholder="Current Password"/>
              <span class="help-block">
                <strong><%= (errors.current_password != undefined) ? errors.current_password.message : '' %>
                </strong>
              </span>
            </div>
          </div>
          <div class="form-group <%= (errors.new_password != undefined) ? " has-error" : "" %>">
            <label for="last_name" class="col-md-4 control-label">New Password*</label>
            <div class="col-md-6">
              <input type="password" name="new_password" class="form-control" id="new_password"
                     value=""
                     maxlength="<%= sails.config.length.max_password %>"
                     required
                     data-parsley-length="[<%= sails.config.length.min_password %>, <%= sails.config.length.max_password %>]"
                     data-parsley-required-message="<%= User.message.new_password_required %>"
                     data-parsley-length-message="<%= User.message.new_password_length %>"
                     placeholder="New Password"/>
              <span class="help-block">
                <strong><%= (errors.new_password != undefined) ? errors.new_password.message : '' %>
                </strong>
              </span>
            </div>
          </div>
          <div class="form-group <%= (errors.confirm_password != undefined) ? " has-error" : "" %>">
            <label for="last_name" class="col-md-4 control-label">Confirm Password*</label>
            <div class="col-md-6">
              <input type="password" name="confirm_password" class="form-control" id="confirm_password"
                     value=""
                     maxlength="<%= sails.config.length.max_password %>"
                     required
                     data-parsley-equalto="#new_password"
                     data-parsley-length="[<%= sails.config.length.min_password %>, <%= sails.config.length.max_password %>]"
                     data-parsley-required-message="<%= User.message.confirm_password_required %>"
                     data-parsley-length-message="<%= User.message.confirm_password_length %>"
                     data-parsley-equalto-message="<%= User.message.password_not_same %>"
                     placeholder="Confirm Password"/>
              <span class="help-block">
                <strong><%= (errors.confirm_password != undefined) ? errors.confirm_password.message : '' %>
                </strong>
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
              <button type="submit" class="btn btn-primary">
                Change password
              </button>
              <a class="btn btn-primary" href="<%= sails.config.base_url %>dashboard">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
