<div class="login-container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center m-b-md">
        <div class="site-logo">
          <img src="<%= sails.config.base_url %>images/logo.png" title="<%= sails.config.app_name %>" alt="<%= sails.config.app_name %>">
        </div>
        <h3>Administrator Login</h3>
        <span><%= (sails.config.app_name) ? sails.config.app_name : "New App" %></span>
      </div>
      <div class="hpanel">
        <div class="panel-body">
          <form method="post" action="<%= sails.config.base_url %>login" data-parsley-validate novalidate="" name="loginForm" id="loginForm">
            <% if (req.session.flash) { console.log(req.session.flash) %>
              <%- req.flash('flashMessage') %>
            <% } %>
            <div class="form-group <%= (errors.email != undefined) ? " has-error" : "" %>">
              <label class="control-label" for="email">Email*</label>
              <input type="email" name="email" class="form-control" id="email"
                     required
                     maxlength="<%= sails.config.length.email %>"
                     data-parsley-type="email"
                     data-parsley-required-message="<%= User.message.email_required %>"
                     data-parsley-maxlength-message="<%= User.message.email_maxlength %>"
                     data-parsley-type="email" value=""
                     placeholder="Email"/>
              <span class="help-block">
                <strong><%= (errors.email != undefined) ? errors.email.message : '' %>
                </strong>
              </span>
            </div>
            <div class="form-group <%= (errors.password != undefined) ? " has-error" : "" %>">
              <label class="control-label" for="password">Password*</label>
              <input type="password" name="password" class="form-control" id="password"
                     required
                     data-parsley-length="[<%= sails.config.length.min_password %>, <%= sails.config.length.max_password %>]"
                     data-parsley-required-message="<%= User.message.password_required %>"
                     data-parsley-length-message="<%= User.message.password_length %>"
                     placeholder="Password"/>
              <span class="help-block">
                <strong><%= (errors.password != undefined) ? errors.password.message : '' %>
                </strong>
              </span>
            </div>
            <button class="btn btn btn-primary btn-block admin-login-btn" title="Login"><span>Login</span></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
