<div class="normalheader transition animated fadeIn">
  <div class="hpanel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <h2 class="font-light m-b-xs">
            <%= (isEdit) ? "Update" : "View" %> User: <%= (user.name != undefined) ? user.name : "" %>
          </h2>
          <div id="hbreadcrumb">
            <ol class="hbreadcrumb breadcrumb">
              <li><a href="<%= sails.config.base_url %>dashboard">Dashboard</a></li>
              <li class="active"> <%= (isEdit) ? "Update" : "View" %> User
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="hpanel">
      <div class="panel-body">
        <form action="<%= sails.config.base_url %>dashboard/profile" method="post" enctype="multipart/form-data"
              id="profile" class='form-horizontal' data-parsley-validate='true'>
          <% if (req.session.flash) { %>
          <%- req.flash('flashMessage') %>
          <% } %>
          <div class="form-group <%= (errors.account_number != undefined) ? " has-error" : "" %>">
            <label for="last_name" class="col-md-4 control-label">Name*</label>
            <div class="col-md-6">
              <% if(isEdit){ %>
              <input type="text" name="name" class="form-control" id="name"
                     value="<%= (user.name != undefined) ? user.name : "" %>"
                     required
                     maxlength="<%= sails.config.length.name %>"
                     data-parsley-required-message="<%= User.message.name_required %>"
                     data-parsley-maxlength-message="<%= User.message.name_maxlength %>"
                     pattern="<%= sails.config.regex.name %>"
                     data-parsley-pattern-message="<%= User.message.name_pattern %>"
                     placeholder="Name"/>
              <span class="help-block">
                <strong><%= (errors.name != undefined) ? errors.name.message : '' %>
                </strong>
              </span>
              <% }else{ %>
              <span class=""><%= (user.name != undefined) ? user.name : "" %></span>
              <% } %>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-md-4 control-label">Email*</label>
            <div class="col-md-6">
              <% if(isEdit){ %>
              <input type="email" name="mobile_number" class="form-control" id="mobile_number"
                     value="<%= user.email %>"
                     disabled
                     placeholder="Email"/>
              <% }else{ %>
              <span class=""><%= (user.email != undefined) ? user.email : "" %></span>
              <% } %>
            </div>
          </div>
          <div class="form-group">
            <label for="contact_no" class="col-md-4 control-label">Mobile Number</label>
            <div class="col-md-6">
              <% if(isEdit){ %>
              <input type="text" name="mobile_number" class="form-control" id="mobile_number"
                     value="<%= user.phone %>"
                     disabled
                     placeholder="Mobile Number"/>
              <% }else{ %>
              <span class=""><%= (user.phone != undefined) ? user.phone : "" %></span>
              <% } %>
            </div>
          </div>
          <div class="form-group <%= (errors.account_number != undefined) ? " has-error" : "" %>">
            <label for="account_number" class="col-md-4 control-label">Account Number</label>
            <div class="col-md-6">
              <% if(isEdit){ %>
              <input type="text" name="account_number" class="form-control" id="account_number"
                     value="<%= user.account_number %>"
                     data-parsley-type="alphanum"
                     data-parsley-length="<%= sails.config.length.account_number %>"
                     data-parsley-length-message="<%= User.message.account_number_length %>"
                     data-parsley-type-message="<%= User.message.account_number_alphanumeric %>"
                     placeholder="Account Number"/>
              <span class="help-block">
                <strong><%= (errors.account_number != undefined) ? errors.account_number.message : '' %>
                </strong>
              </span>
              <% }else{ %>
              <span class=""><%= (user.account_number != undefined) ? user.account_number : "" %></span>
              <% } %>
            </div>
          </div>
          <div class="form-group <%= (errors.country != undefined) ? " has-error" : "" %>">
            <label for="is_active" class="col-md-4 control-label">Country*</label>
            <div class="col-md-6">
              <% if(isEdit){ %>
              <select name="country" onchange="getCity(this.value)" id="country" class="form-control" required
                      data-parsley-required-message="<%= User.message.country_required %>">
                <option value="">Select Country</option>
                <%
                if(countries != undefined && Object.keys(countries).length){
                  for(var key in countries) { %>
                <option <%= (key == user.country_id) ? "selected" : "" %>
                  value="<%= key %>"><%= countries[key].name %></option>
                <% }
                } %>
              </select>
              <span class="help-block">
                <strong><%= (errors.country != undefined) ? errors.country.message : '' %>
                </strong>

                <% }else{ %>
                <span class=""><%= (user.country_name != undefined) ? user.country_name : "" %></span>
                <% } %>
            </div>
          </div>
          <div class="form-group <%= (errors.city != undefined) ? " has-error" : "" %>">
            <label for="is_active" class="col-md-4 control-label">City*</label>
            <div class="col-md-6">
              <% if(isEdit){ %>
              <select name="city" id="city" class="form-control" required
                      data-parsley-required-message="<%= User.message.city_required %>">
                <option value="">Select City</option>
                <% if(user.city_id !== undefined){ %>
                <option <%= (user.city_id) ? "selected" : "" %>
                  value="<%= user.city_id %>"><%= user.city_name %></option>
                <%
                } %>
              </select>
              <span class="help-block">
                <strong><%= (errors.city != undefined) ? errors.city.message : '' %>
                </strong>
              </span>
              <% }else{ %>
              <span class=""><%= (user.city_name != undefined) ? user.city_name : "" %></span>
              <% } %>
            </div>
          </div>
          <div class="form-group <%= (errors.area != undefined) ? " has-error" : "" %>">
            <label for="is_active" class="col-md-4 control-label">Area*</label>
            <div class="col-md-6">
              <% if(isEdit){ %>
              <input type="text" name="area" class="form-control" required id="area"
                     value="<%= user.area %>"
                     data-parsley-required-message="<%= User.message.area_required %>"
                     data-parsley-maxlength-message="<%= User.message.area_maxlength %>"
                     placeholder="Area"/>
              <span class="help-block">
                <strong><%= (errors.area != undefined) ? errors.area.message : '' %>
                </strong>
              </span>
              <% }else{ %>
              <span class=""><%= (user.area != undefined) ? user.area : "" %></span>
              <% } %>
            </div>
          </div>
          <div class="form-group <%= (errors.image != undefined) ? " has-error" : "" %>">
            <label for="is_active" class="col-md-4 control-label">Profile Picture</label>
            <div class="col-md-6">
              <% if(isEdit){ %>
              <span class=""><img width="100"
                                  src="<%= (user.compnay_image) ? user.compnay_image : sails.config.base_url + 'images/profile.png' %>"
                                  title="<%= (user.name) ? user.name : '' %>" alt="<%= (user.name) ? user.name : '' %>"></span>
              <input type="file" class="form-control" name="image" id="image"
                     data-parsley-max-file-size="<%= sails.config.length.max_file_upload_kb %>"/>/>
              <span class="help-block">
                <strong><%= (errors.area != undefined) ? errors.image.message : '' %>
                </strong>
              </span>
              <% }else{ %>
              <span class=""><img width="100"
                                  src="<%= (user.compnay_image) ? user.compnay_image : sails.config.base_url + 'images/profile.png' %>"
                                  title="<%= (user.name) ? user.name : '' %>" alt="<%= (user.name) ? user.name : '' %>"></span>
              <% } %>
            </div>
          </div>
          <div class="form-group <%= (errors.status != undefined) ? " has-error" : "" %>">
            <label for="is_active" class="col-md-4 control-label">Status*</label>
            <div class="col-md-6">
              <% if(isEdit){ %>
              <select name="status" id="status" class="form-control" required
                      data-parsley-required-message="<%= User.message.status_required %>">
                <option <%= (user.is_deleted == undefined) ? "selected" : "" %> value="">Select Status</option>
                <option <%= (user.is_deleted == false) ? "selected" : "" %> value="true">Active</option>
                <option <%= (user.is_deleted == true) ? "selected" : "" %> value="false">In Active</option>
              </select>
              <span class="help-block">
                <strong><%= (errors.status != undefined) ? errors.status.message : '' %>
                </strong>

                <% }else{ %>
                <span
                  class=""><%= (user.is_deleted != undefined) ? ((user.is_deleted) ? "In Active" : "Active") : "Not Selected" %></span>
                <% } %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
              <% if(isEdit){ %>
              <button type="submit" class="btn btn-primary">
                Update Profile
              </button>
              <a class="btn btn-primary" href="<%= sails.config.base_url %>dashboard">Cancel</a>
              <% }else{ %>
              <a class="btn btn-primary" href="<%= sails.config.base_url %>user">Back</a>
              <% } %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
