<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0"/>
  <meta name="viewport" content="width=device-width"/>
  <title>Qatrah</title>
  <style type="text/css">
    .MBemail a, a.MBemail, .grn {
      color: #789A1D;
      text-decoration: none;
    }
    .heroImg{
      margin-left:10px;
    }
    .MBemail a:hover, a.MBemail:hover {
      color: #789A1D;
      text-decoration: underline;
    }
    @media only screen and (max-width: 900px) {
      td[class=headerBG] {
        width: 100%;
      }
    }
    @media only screen and (max-width: 640px) {
      body {
        width: auto;
      }
      .BoxWrap, td[class=hero], img[class=heroImg] {
        width: 440px !important;
      }
      div.h2-center, div.h3-center {
        text-align: center;
      }
      /* Show/Hide  */
      .RespoHideMedium {
        display: none;
      }
      .RespoShowMedium {
        display: block;
      }
      .RespoCenterMedium {
        text-align: center;
      }
      td[class=headerBG] {
        width: 100%;
      }
      img[class=RespoImage_HalfW], img[class=RespoImage_Half] {
        max-width: 440px !important;
        height: 212px !important;
      }
      img[class=RespoImage_ThirdW], img[class=RespoImage_Third] {
        max-width: 440px !important;
        height: 335px !important;
      }
    }
    @media only screen and (max-width: 479px) {
      body {
        width: auto;
      }
      .BoxWrap, td[class=hero], img[class=heroImg] {
        max-width: 280px !important;
        width: 95%;
      }
      /* Hide  */
      .RespoHideSmall, .BoxHeadRight {
        display: none;
      }
      .RespoCenterSmall {
        text-align: center;
      }
      img[class=RespoImage_HalfW], img[class=RespoImage_Half] {
        max-width: 280px !important;
        height: 135px !important;
      }
      img[class=RespoImage_ThirdW], img[class=RespoImage_Third] {
        max-width: 280px !important;
        height: 213px !important;
      }
    }
    @media only screen and (max-width: 319px) {
      body {
        width: auto;
      }
      .BoxWrap, td[class=hero], img[class=heroImg] {
        max-width: 230px !important;
      }
      div#em-hd {
        font-size: 28px;
      }
      /* Hide  */
      .RespoHideSmall, .BoxHeadRight {
        display: none;
      }
      .RespoCenterSmall {
        text-align: center;
      }
      img[class=RespoImage_HalfW], img[class=RespoImage_Half] {
        max-width: 230px !important;
        height: 135px !important;
      }
      img[class=RespoImage_ThirdW], img[class=RespoImage_Third] {
        max-width: 230px !important;
        height: 213px !important;
      }
    }
  </style>
</head>
<body
  style="width: 100%;background-color: #ffffff;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;mso-margin-top-alt: 0px;mso-margin-bottom-alt: 0px;mso-padding-alt: 0px 0px 0px 0px;">
<table width="100%" bgcolor="#e2e5e5" cellpadding="0" cellspacing="0" align="center">
  <tbody>
  <tr>
    <td>
      <table bgcolor="#2eb9f9" width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="clear:both;">
        <tbody>
        <tr>
          <td width="100%" valign="top" style="background-size: 100% auto;">
            <table class="BoxWrap" width="600" align="center" cellpadding="10" cellspacing="0">
              <tbody>
              <tr>
                <td class="hero"><img height="40" width="121" style="margin-left:10px;"  class="heroImg"
                                      src="<%= sails.config.base_url %>images/mail-logo.png">
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td valign="top" style="-webkit-text-size-adjust: none;">
      <table width="600" class="BoxWrap" align="center" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr mc:repeatable="zigzag" mc:variant="ltr">
          <td class="Content_Color01" bgcolor="#ffffff" style="-webkit-text-size-adjust: none;">
            <table class="BoxWrap" width="600" align="left" cellpadding="20" cellspacing="0">
              <tbody>
              <tr>
                <td width="100%" style="-webkit-text-size-adjust: none;">
                  <p mc:edit
                     style="font-size: 14px;margin: 5px 0 5px 0;color: #5f5f5f;text-align: left;font-weight: normal;font-family: Helvetica, Arial, sans-serif;line-height: 18px;">
                    Hello <%= (name != undefined) ? name.charAt(0).toUpperCase() : 'User'%>, </p>
                </td>
              </tr>
              <tr>
                <td width="100%" style="-webkit-text-size-adjust: none;"><h2 mc:edit
                                                                             style="font-size: 18px;margin: 10px 0 10px 0;color: #151516;text-align: left;font-weight: bold;line-height: 20px;text-decoration: none;font-family: Helvetica, Arial, sans-serif;">
                    Your membership email is: <br/>
                    <span style="color:#337ab7;font-weight:bold;text-decoration:none;"><%= email %></span></h2>
                  <p mc:edit
                     style="font-size: 14px;margin: 5px 0 5px 0;color: #5f5f5f;text-align: left;font-weight: normal;font-family: Helvetica, Arial, sans-serif;line-height: 18px;">
                    &nbsp;</p>
                  <p mc:edit
                     style="font-size: 14px;margin: 5px 0 10px 0;color: #5f5f5f;text-align: left;font-weight: normal;font-family: Helvetica, Arial, sans-serif;line-height: 18px;">
                    <b>If you forget your login password use the <b><em>Forgotten Password</em></b> <a href="<%= sails.config.base_url %>login/confirmPassword/<%= CryptoService.encrypt(email)%>" title="Forgotten Password"> link</a>
                  </p>
                  <p mc:edit
                     style="font-size: 14px;margin: 5px 0 5px 0;color: #5f5f5f;text-align: left;font-weight: normal;font-family: Helvetica, Arial, sans-serif;line-height: 18px;">
                    &nbsp;</p>
                  <p mc:edit
                     style="font-size: 14px;margin: 5px 0 5px 0;color: #5f5f5f;text-align: left;font-weight: normal;font-family: Helvetica, Arial, sans-serif;line-height: 18px;">
                    &nbsp;</p>
                  <p mc:edit
                     style="font-size: 14px;margin: 5px 0 5px 0;color: #5f5f5f;text-align: left;font-weight: normal;font-family: Helvetica, Arial, sans-serif;line-height: 18px;">
                    Enjoy!</p>
                  <p mc:edit
                     style="font-size: 14px;margin: 5px 0 5px 0;color: #5f5f5f;text-align: left;font-weight: normal;font-family: Helvetica, Arial, sans-serif;line-height: 18px;">
                    warm regards<br/>
                    <%= sails.config.app_name %> (Team)</p></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table bgcolor="#2eb9f9" width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="clear:both;">
        <tbody>
        <tr>
          <td width="100%" valign="top" style="background-size: 100% auto;">
            <table class="BoxWrap" width="600" align="center" cellpadding="10" cellspacing="0">
              <tbody>
              <tr>
                <td mc:edit class="hero" style="color: white;" align="center">© <%= new Date().getFullYear() %> Qatrah All Rights Reserved.
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
